/* ==========================================================================
                              Navigation
   ========================================================================== */

nav {
  margin:0 1.5em 0 0;
  padding:0;
  float:right;

  a:link, a:visited {
    color:#ddd;
  }
  a:hover, a:active {
    border-bottom: none;
    color:#faa900;
  }
  ul {
    margin: 0;
    padding: 0;
    ul {
      position: absolute;
      padding: 0.3125em 0.625em;
      @include boxShadow(0 1px 5px 1px #ccc);
      @include borderRadius(0.625em);
      @include transform(translateY(-10px));
      /*-webkit-transform: translateY(-10px);
         -moz-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
           -o-transform: translateY(-10px);
              transform: translateY(-10px);*/
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
      opacity:0;
      pointer-events: none;
      left: -1.8125em;
      background-color: #fff;
      z-index: 10;

      li {
        padding: 0.125em 0;
        border-bottom: 1px solid #ddd;
      }

      li:last-child {
        border-bottom: none;
      }

      a:link, a:visited {
        color:#666;
        display: inline-block;
        padding:0.1875em 0.625em;
        margin:0.3125em 0;
        width:6em;
      }

      a:hover, a:active  {
        color:#faa900;
      }
    }

  }
}

html.lt-ie8 nav ul ul{
  display: none;
}

html.lt-ie8 nav > ul > li:hover ul {
  display: block;
}

nav > ul > li {
  float: left;
  position:relative;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0.25em 0.625em;
}

nav > ul > li:hover  ul {
  display:block;
  pointer-events:auto;
  opacity:1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);

}

nav ul ul:before {
  position:absolute;
  content: " ";
  bottom:100%;
  left:50%;
  width:0;
  height:0;
}

nav ul ul:before {
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  margin-left:-10px;
}


nav ul ul li:last-child {
  border-bottom: none;
}