/* ==========================================================================
                        Mixins
   ========================================================================== */

@mixin borderBox {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin gradientBlack {
  background: #3c3c3c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjM2MzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c3c3c 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c3c3c 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c3c3c 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3c3c3c 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#222222',GradientType=0 ); /* IE6-8 */
}

@mixin gradientBlackReverse {
  background: #222222; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjM2MzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #222222 0%, #3c3c3c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#3c3c3c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 0%,#3c3c3c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 0%,#3c3c3c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222222 0%,#3c3c3c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #222222 0%,#3c3c3c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-8 */
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin boxShadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
       -o-box-shadow: $value;
          box-shadow: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
       -o-transform: $value;
          transform: $value;
}

@mixin fontSmooth {
  font-smooth: always;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
           font-smoothing: antialiased;
}
/* ==========================================================================
                        Variables
   ========================================================================== */

$sidebarWidth:      25em;
$footerHeight:      3em;
$minContainerWidth: 1024px;

$orange:            #fbb900;
$color:             #333;
$backgroundColor:   #fff;
$linkColor:         #faa900;

$fontStack: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;