/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* Colors used:
   Body Background = #FFF
   Header H1 - #555, #fbb900
   Search text box - Background: #FFF, Border - #AAA, Shadow - #EEE
   Hr - #DDD
   H2, P - #555
   H3 - #888
   Abstract H3 - #FAA900
   Abstract P - #444
   Footer - #444, Span text - #FBB900
   Article footer - #999
   
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
                              Global styles
   ========================================================================== */
   
/**
 * 1. Set default font family Open sans
 * 2. Set the default background color to white.
 */
 
html, 
body{
	width: 100%;
	height: 100%;
	font-family:"Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;  /* 1 */
	font-size: 14px;
	color:#444;
	margin:0 0 1px;
	line-height: 20px;
	background-color:#efefef;    /* 2 */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

/* ==========================================================================
                              Page header
   ========================================================================== */
h1 {
	text-align:left;
	font-size:50px;
	margin:0;
	padding:0;
	line-height:0.9;
	width:140px;
	color:#555;
	font-weight:normal;
	text-transform:lowercase;
}
	
h1 span {	
	color:#fbb900;
}

header#page-header h2 {
	font-size:20px;
	margin:0;
	padding:0;
	color:#999;
	letter-spacing:-0.05em;
	text-transform:lowercase;
}

/* ==========================================================================
                              Column header
   ========================================================================== */
h2 {
	font-size:32px;
	margin:5px 0 10px 0;
	text-align:left;
    font-weight: normal;
	color:#333;
	padding-bottom:8px;
	line-height:32px;
	letter-spacing:-0.075em;
}



h3{
	font-size: 18px;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;
}

/* ==========================================================================
                              Main Container
   ========================================================================== */

#container{
	width: 1024px;
	margin: 0 auto;
	text-align: left;
	background-color: transparent;
	padding: 15px 0;
}

p {
	font-size:14px;
	line-height:1.6;
}

/* ==========================================================================
                             Three column wrapper
   ========================================================================== */

#column-wrapper {
	float: left;
	width: 100%;
	margin:6px 0 30px;
	clear:both;
}

.col {
	width:309px;
	float:left;
	margin:0 5px;
	padding:10px;
	border-radius:10px;
	box-shadow:1px 1px 2px 1px #ccc;
	border:1px solid;
	border-color:#ddd #aaa #aaa #ddd;
    background-color: #fff;

}

.col h2 {
    font-weight: 300;
    text-transform: uppercase;
    color:#000;
}

.col p {
	text-align:justify;
	text-shadow:none;
}

a:link, a:visited {
	color:#fbb900;
	text-decoration:none;
}

a:hover, a:active {
	border-bottom:1px dotted #fbb900;
}


/* ==========================================================================
                              Search Form
   ========================================================================== */
#search {
	padding:80px 0 80px 0;
}

#search-result {
	float:right;
	margin:12px 0 0 0;
}

div#div-search {
	border:3px solid #aaa;
	border-radius:10px;
	background:#fff;
	padding:0 2px 0 8px;
	width: 640px;
	margin:0 auto;
	box-shadow: 2px 2px 3px 1px #eee;

}
input#img-search {
    width:28px;
    height:28px;
	float:right;
	outline:none;
	margin:4px 4px 4px 0;
}
input#txt-search {
	width:600px;
	border:none;
	outline:none;
	margin:0;
    padding:4px 0;
	height:28px;
	font-size:14px;
	color:#444;
}
input[type=submit] {
	padding:5px 10px;
}



/* ==========================================================================
                            Results section
   =========================================================================*/
.twocol section {
    float:left;
    width:665px;
}

#results {
	background:transparent;
	padding:5px 0 0 0;
}

#results header h2 {
	 margin-bottom:0;
    padding-bottom:0;
	font-size:1.6em;
	text-transform:none;
	line-height:25px;
	letter-spacing:0.005em;
}

#results header h2 a:hover, .results header h2 a:active  {
	border: none;
}

#results header h3 {
	color:#999;
	font-size:14px;
	margin:0 0 5px 0;
	padding:2px 0;
}

/* ==========================================================================
                        Article section
   ========================================================================== */

article {
	position:relative;
	background-color:#fff;
	margin-bottom:10px;
	border-radius:10px;
	text-align:justify;
	box-shadow:1px 1px 2px 1px #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:15px;
}

article footer {
	margin-top:18px;
	color:#999;
}

span.citation {
    color:#000;
}

/* ==========================================================================
                        Read more and Add to list section
   ========================================================================== */

p.read-more {
	float:right;
	margin:-1em 0 0 0;
	font-size:13px;
	text-transform:lowercase;
}


p.add-to-list a:link {
	position:absolute;
    right:0;
	bottom:0;
	margin:0;
    padding:3px 7px;
	font-size:24px;
	color:#fbb900;
	
}

p.add-to-list a:hover {
	color:#fff;
	background-color:#fbb900;
	border-radius:10px 0 10px 0;
	border-bottom:none;
}

article footer p {
	margin-top:0;
}

/* ==========================================================================
                        Abstract section
   ========================================================================== */
.abstract h3 {
	color:#faa900;
	letter-spacing:0.02em;
	font-size:17px;
	font-weight:600;
}
.abstract h4 {
	font-weight:bold;
	margin-top:8px;
}

/* ==========================================================================
                            Sidebar section
   ========================================================================== */

#sidebar {
    position: relative;
	float: right;
	width: 350px;
}

#sidebar .widget {
    background:#fff;
    padding:13px;
    margin-top:6px;
    border-radius:10px;
    box-shadow:1px 1px 2px 1px #ccc;
    border:1px solid;
    border-color:#ddd #aaa #aaa #ddd;
}

.widget h2 {
	font-size:1.6em;
	text-transform:none;
	line-height:25px;
	letter-spacing:0.005em;
}


.widget ol {
	list-style-type:decimal;
	margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: 12px;
}
.widget ol li {
	padding:10px 0;
    border-bottom:1px solid #ddd;
    position: relative;
}
.widget ol li a:link, .widget ol li a:visited {
    position: absolute;
    line-height: 12px;
    top:2px;
    right: 0;
    padding: 1px 2px;
    margin: 0;
    display: inline-block;
}
.widget ol li a:hover, .widget ol li a:active {
    background-color: #fbb900;
    color:#fff;
}

.widget ol li:last-child {
    border-bottom:none;
}

.widget ol li.drag-over {
	background-color:#666;
	color:#fff;
}
.widget ol li.dragged {
	background-color:transparent;
	opacity:0.4;
	color:#333;
}
.widget #options a {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
}
/* ==========================================================================
                          Footer section
   ========================================================================== */

#page-footer {
	position: relative;
	margin: 0 auto;
	height:90px;
	text-align: center;
	clear:both;
	width:980px;
	padding-top: 10px;
}

#page-footer span {
	color:#fbb900;
}

/* ==========================================================================
                          Pagination section
   ========================================================================== */

ol#pagination {
	text-align:center;
	list-style-type:none;
}

ol#pagination li {
	display:inline-block;
}

ol#pagination li a, ol#pagination li span {
	display:inline-block;
	width:24px;
	height:24px;
	margin:0 3px;
	line-height:24px;
	font-size:16px;
	border-radius:999px;
	color:#fff;
	text-align:center;
}
ol#pagination li a:link, ol#pagination li a:visited {
	background-color:#fbb900;
}
ol#pagination li a:hover, ol#pagination li a:active {
	border-bottom:none;
	background-color:#999;
}
ol#pagination li span {
	background-color:#999;
}
/* ==========================================================================
   Ajax Loader
   ========================================================================== */
div#ajax-status {
    position:absolute;
    left:0;
    display:none;
}
div#ajax-status img {
    display:block;
    margin:0 auto;
}
/* ==========================================================================
   Modal Dialog
   ========================================================================== */
.modal-overlay {
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
}
.modal-window-border {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 600px;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    height: auto;
    padding: 10px;
    border-radius: 13px;
}
.modal-window {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    overflow: scroll;
    color:#000;
}
.modal-window .close {
    position: absolute;
    top:14px;
    right:14px;
    margin:0;
    padding:0 2px;
    color:#fbb900;
    cursor: pointer;
}
.modal-window .close:hover {
    border-bottom: none;
    background-color: #fbb900;
    color: #fff;
}
/*
.modal-window .close:hover, .modal-window .close:active {
    border-bottom: none;
    background-color: #fbb900;
    color:#fff;
}*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
