@import "vars";
@import "normalize";
@import "boilerOption";
@import "global";
@import "layout";
@import "navigation";
// content -> main
// body -> content
//


#content h2 {
  letter-spacing: -0.04em;
}

p.label {
  font-size: 1em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  margin-top: 0;
  font-weight: bold;
}

p.label + p {
  margin-top: 0;

}
/* ==========================================================================
                              Header
   ========================================================================== */
#page-header {
  @include gradientBlack;
  border-bottom: 1px solid #fff;
  padding:0.6em 0.625em;
  font-size:16px;

  ul {
    margin: 0;
  }

  h1 {
    float:left;
    margin:0 0 0 1.5em;
    color:#faa900;
    font-size: 1.6em;
    padding: 0;
  }

  h2 {
    font-size: 1.2em;
    margin-left: 0.5em;
    float: left;
    a {
      color: #999;
      &:hover {
        color:#fff;
        border-bottom: none;
      }
    }
  }
}

/* ==========================================================================
                  Single [Layout for pages with only form]
   ========================================================================== */

#form-container {
  width:25em;
  background-color: #fff;
  margin:5em auto;
  @include borderRadius(8px);
  box-shadow: 0 0 5px 1px #ccc;
  h2 {
    background-color: #eee;
    -webkit-border-radius: 8px 8px 0 0;
       -moz-border-radius: 8px 8px 0 0;
        -ms-border-radius: 8px 8px 0 0;
         -o-border-radius: 8px 8px 0 0;
            border-radius: 8px 8px 0 0;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 0 3px 1px #ccc;
    padding: 0.5em 1em;
  }
  div {
    padding: 0em 2em 1em 2em;
  }
}

p.button-wrapper {
  text-align: center;
  margin-bottom: 0;
}

  /*


  @include borderRadius(1em);
  &:hover {
    background-color: #666;
  }*/

/* ==========================================================================
                              Search Form
   ========================================================================== */

#search-mini {
  float:left;
  margin-left:2.5em;
  /*float:right;
  margin-top:0.4em; */
}

div#div-search {
  border-radius:0.625em;
  background:#fff;
  padding:0 0.125em 0 0.5em;
  margin:0 auto;
  width:23em;
}

input#img-search {
  width:1.75em;
  height:1.75em;
  float:right;
  outline:none;
  margin:0.25em 0.25em 0.25em 0;
}

input#txt-search {
  width:21em;
  border:none;
  @include boxShadow(none);
  outline:none;
  margin:0;
  padding:0.25em 0;
  height:1.75em;

}

/* ==========================================================================
                              MAIN DIV
   ========================================================================== */
$width:1024px;

div#index {
  padding: 0 4em;

  h2 {
    font-size: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #ccc;
  }

  p {
    font-size: 1.5em;
    margin-top:0.5em;
    line-height: 1.5;
    text-align: justify;
    color: #666;

  }
  div {
    margin-top:2.5em;
    margin-bottom: 2.5em;
  }
  #search, #save {
    padding-right: 22em;
    vertical-align: center;

  }

  #vancouver {
    padding-left: 22em;
    background: url('/img/compose.png') 10em center no-repeat;
    background-size: 4em auto;

  }

  #search  {
    background: url('/img/search_2.png') right 12em center no-repeat;
    background-size: 4em auto;

  }

  #save {
    background: url('/img/list.png') right 12em center no-repeat;
    background-size: 4em auto;
  }
}

/* ==========================================================================
                              Two col
   ========================================================================== */
#main {
  article {
    padding:1em 0 1em 0;
    border-bottom: 1px dotted #666;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

article {
  header {
    h2 {
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
      font-size: 1em;
      font-weight: normal;
      line-height: 1.5;
      color:#666;
    }
  }
}

/**
 * By setting the
 * [1] overflow to hidden, Selection box going out of the boundary can be prevented
 */
p.citation {
  background-color: #efefef;
  margin-top:0;
  padding:0.5em 1em;
  @include borderRadius(0.5em);
  overflow: hidden; /* 1 */
}
p.read-more, p.add-to-list, p.remove-from-list {
  margin:0;
  padding:0;
}
p.read-more {
  float:right;
  &:after {
    content: " \27F6";
    color:$linkColor;
  }
}
p.add-to-list {
  &:after {
    content: " [+]";
    color:$linkColor;
  }
}

p.remove-from-list {
  &:after {
    content: " [-]";
    color:$linkColor;
  }
}

/* ==========================================================================
                          Pagination section
   ========================================================================== */

ol#pagination {
  text-align:center;
  list-style-type:none;

  li {
    display: inline-block;

    span {
      display:inline-block;
      width:1.5em;
      height:1.5em;
      margin:0 0.25em;
      line-height: 1.5;
      font-size:1em;
      border-radius:999px;
      color:#fff;
      text-align:center;
      background-color: #999;
    }

    a {
      @extend span;

      &:link, &:visited {
        background-color: #fbb900;
      }

      &:hover, &:active {
        border-bottom:none;
        background-color:#999;
      }
    }
  }
}

/* ==========================================================================
                              Sidebar
   ========================================================================== */
#side {
  ul, ol {
    margin:0;
    padding:0;
    list-style: none;
    max-height: 40em;
    overflow: auto;
  }

  li {
    padding:1.3em 0.5em 0.25em 1em;
    font-size: 0.8em;
    background-color: #eee;
    list-style: none;
    margin-bottom: 0.25em;
    position:relative;
    @include borderRadius(0.5em);

    a {
      position:absolute;
      top:0em;
      right:0em;
      padding: 0.1em 0.3em;
      display: inline-block;
      font-weight: bold;
      -webkit-border-radius: 0 0.5em 0 0.5em;
         -moz-border-radius: 0 0.5em 0 0.5em;
          -ms-border-radius: 0 0.5em 0 0.5em;
           -o-border-radius: 0 0.5em 0 0.5em;
              border-radius: 0 0.5em 0 0.5em;

      &:hover {
        background-color: #fbb900;
        color: #eee;
      }
    }
  }
}


/* ==========================================================================
                              Footer
   ========================================================================== */

footer#page-footer {
  @include gradientBlackReverse;
  color: #fff;

  div {
    text-align: center;
    span {
      color: #faa900;
      line-height: 3;
    }
  }
}

@import "helper";